<div class="row">
  <div class="col-md-2">&nbsp;</div>
  <div class="col-md-8">
    <div id="booksPanel" class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">My Books</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <app-books-add></app-books-add>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <app-books-list></app-books-list>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2">&nbsp;</div>
</div>



