<ul class="list-group">
  <li *ngFor="let book of books" class="list-group-item" >
    <div class="book-checkbox row">
      <!--<div class="col-md-3">-->
      <input type="checkbox"
             class="list-child col-md-1"
             (change)="onBookChange($event,book)"
             [checked]="book.read">
    <!--</div>-->
      <div class="col-md-5" ngClass="{{book.read ? 'title read' : 'title'}}" >{{ book.author }} <i>{{ book.title }}</i></div>
      <!--<span ngClass="{{book.read ? 'title read' : 'title'}}" style="width:10%">{{ book.author }} <i>{{ book.title }}</i></span>-->
      <div class="col-md-5" style="text-align: right"> {{ book.dateAdded }} | <b>{{ book.dueDate }}</b></div>
      <button type="button" class="close col-md-1" aria-label="Close" (click)="onDelete(book)">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-11">
        <p> {{ book.notes }} </p>
      </div>
    </div>
  </li>
</ul>
