<form class="form-inline" #f="ngForm" novalidate (ngSubmit)="save(f.value, f.valid)">
  <div class="row">
    <div class="col-lg-6">
    <input type="text"
           class="form-control"
           placeholder="Add title"
           name="title"
           [(ngModel)]="book.title"
           #title="ngModel"
           required
           minlength="5">


    <input type="text"
           class="form-control"
           placeholder="Add author"
           name="author"
           [(ngModel)]="book.author"
           #author="ngModel"
           required
           minlength="5">


    <textarea
           class="form-control"
           placeholder="Add notes"
           name="notes"
           [(ngModel)]="book.notes"
           #notes="ngModel"></textarea>
  </div>

    <div class="col-lg-6">
    <datepicker [(ngModel)]="book.dueDate" name="dueDate" #dueDate="ngModel"  [minDate]="minDate" [showWeeks]="true" [dateDisabled]="dateDisabled"></datepicker>
</div>
  <button class="btn btn-block btn-default" type="submit">Submit</button>
  </div>

  <small [hidden]="title.valid || (title.pristine && !f.submitted)">
    Title is required (minimum 5 characters).
  </small>
  <small [hidden]="author.valid || (author.pristine && !f.submitted)">
    Author is required (minimum 5 characters).
  </small>

</form>

